  <div>
    <h3>Add A Hero</h3>
    <form (ngSubmit)="add(name.value, power.value, alterEgo.value)">
      <label id="new-hero" for="name">Hero Name: </label>
      <input
      type="text"
      class="form-control"
      id="name"
      required
      name="name"
      #name>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input
        type="text"
        class="form-control"
        id="alterEgo"
        name="alterEgo"
        #alterEgo>
      </div>
      <div>
        <nz-select nzPlaceHolder="Choose a Power" #power>
          <nz-option *ngFor="let power of powers" [nzValue]="power" [nzLabel]="power"></nz-option>
        </nz-select>
      </div>
      <button type="submit" class="add-button">
        Add hero
      </button>
    </form>
  </div>


  <!-- <div class="form-group">
    <label for="power">Hero Power</label>
    <select class="form-control" id="power" required #pow>
      <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
    </select>
  </div> -->

  <!-- <nz-select [(ngModel)]="selectedValue" [compareWith]="compareFn" (ngModelChange)="log($event)" nzAllowClear nzPlaceHolder="Choose">
    <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
  </nz-select> -->

  <!-- <div>
    <a nz-dropdown [nzDropdownMenu]="pow">Hero Power<i nz-icon nzType="down"></i></a>
    <nz-dropdown-menu #pow="nzDropdownMenu" >
      <ul nz-menu nzSelectable [(ngModel)]="powers" name="selectedPower">
        <li nz-menu-item [nzValue]="power" *ngFor="let power of powers">{{power}}</li>
      </ul>
    </nz-dropdown-menu>
  </div> -->
