  <div>
    <form (ngSubmit)="add(name.value, pow.value, alterEgo.value)">
      <label id="new-hero" for="name">Hero name: </label>
      <input
      type="text"
      class="form-control"
      id="name"
      required
      name="name"
      #name>
      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power" required #pow>
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input
        type="text"
        class="form-control"
        id="alterEgo"
        name="alterEgo"
        #alterEgo>
      </div>

      <!-- (click) passes input value to add() and then clears the input -->
      <button type="submit" class="add-button">
        Add hero
      </button>
    </form>
  </div>

  <!-- [(ngModel)]="model.name"  -->
  <!-- [(ngModel)]="hero.name"  -->
  <!-- [(ngModel)]="model.alterEgo"  -->
