  <div>
    <h3>Add A Hero</h3>
    <form (ngSubmit)="add(name.value, pow.value, alterEgo.value)">
      <label id="new-hero" for="name">Hero name: </label>
      <input
      type="text"
      class="form-control"
      id="name"
      required
      name="name"
      #name>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input
        type="text"
        class="form-control"
        id="alterEgo"
        name="alterEgo"
        #alterEgo>
      </div>
      <div>
        <a nz-dropdown [nzDropdownMenu]="pow">Hero Power<i nz-icon nzType="down"></i></a>
        <nz-dropdown-menu #pow="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Really Smart</li>
            <li nz-menu-item>Super Flexible</li>
            <li nz-menu-item>Super Hot</li>
            <li nz-menu-item>Weather Changer</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <button type="submit" class="add-button">
        Add hero
      </button>
    </form>
  </div>


  <!-- <div class="form-group">
    <label for="power">Hero Power</label>
    <select class="form-control" id="power" required #pow>
      <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
    </select>
  </div> -->
